/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
:root {
  --white: #fff; }

.btn-white {
  box-shadow: 0 3px 3px 0 rgba(80, 80, 80, 0.07); }

.login-page {
  overflow-x: hidden; }

.bg-custom {
  background: url("../../app-assets/images/pages/login/bg-dots.svg") fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.semi-dark-layout:not(.navbar-scrolled) .header-navbar, .light-layout:not(.navbar-scrolled) .header-navbar {
  background-color: transparent !important; }

.semi-dark-layout.navbar-scrolled .header-navbar, .semi-dark-layout.page-scrolled .header-navbar, .light-layout.navbar-scrolled .header-navbar, .light-layout.page-scrolled .header-navbar {
  box-shadow: rgba(25, 42, 70, 0.03) -8px 12px 5px 0px !important;
  padding: 0 !important; }

.card {
  border-radius: 1rem; }

.node-tags-badge-treeview {
  color: #414141 !important; }

.node-tags-badge-treeview.node-selected {
  background-color: #eee !important; }

.tree-content {
  overflow: auto;
  border-radius: 15px;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.01);
  background-color: rgba(0, 0, 0, 0.02); }

.binary-tree {
  min-width: 400px;
  max-height: 600px; }

.card-teamview {
  position: relative;
  margin: 15px 0.5vw; }
  .card-teamview:hover {
    background-color: var(--white);
    transform: scale(1.02); }
  .card-teamview .card-header, .card-teamview .card-footer {
    padding: 10px 1.6vw; }
  .card-teamview .card-footer {
    display: flex; }
  .card-teamview .img-plan {
    max-width: 60px;
    margin: 10px auto; }
  .card-teamview h4 {
    font-size: clamp(14px, 1.8vw, 62px); }
  .card-teamview h5 {
    font-size: clamp(12px, 1vw, 42px); }
  .card-teamview h6 {
    font-size: clamp(8px, 0.7vw, 32px); }
  .card-teamview:not(.last-item):before, .card-teamview:not(.last-item):after {
    display: inline; }
  .card-teamview:before {
    content: "";
    display: none;
    height: 15px;
    width: 1px;
    background-color: #000;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 1px); }
  .card-teamview:after {
    content: "";
    display: none;
    height: 15px;
    width: 50%;
    border: #000 solid 1px;
    border-bottom: transparent;
    position: absolute;
    bottom: calc(-15px * 2);
    left: calc(50% / 2);
    border-radius: 5px 5px 0px 0px; }
  .card-teamview .icon-info {
    display: none;
    margin-bottom: 5px; }
    .card-teamview .icon-info i {
      color: rgba(151, 151, 151, 0.8); }

@media (max-width: 768px) {
  .level-3 .icon-info {
    display: block; }
  .level-3 .card-footer, .level-3 h5 {
    display: none; } }

.level-3 .img-plan {
  max-width: 30px;
  margin: 10px auto; }

.level-3 h4 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  font-size: clamp(12px, 1.2vw, 32px);
  text-overflow: ellipsis; }

.level-4 .icon-info {
  display: block; }

.level-4 .card-footer, .level-4 h5 {
  display: none; }

.level-4 .add-user {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none; }

.add-user {
  background-color: #FBFBFB;
  border: 1px solid #DBDBDB;
  padding: 2vw 2vw;
  margin: 15px auto; }
  .add-user .btn {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 0 auto; }

.level-5 .img-plan {
  max-width: 20px;
  margin: 10px auto; }

.level-5 .text-plan {
  display: none; }

.level-5 .card-teamview {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none; }
  .level-5 .card-teamview .card-header, .level-5 .card-teamview .card-footer {
    padding: 0; }

.level-5 .btn {
  padding-left: .5vw;
  padding-right: .5vw; }

.last-item .card-teamview:before, .last-item .card-teamview:after, .level-5 .card-teamview:before, .level-5 .card-teamview:after {
  display: none; }
