/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.btn-white {
  box-shadow: 0 3px 3px 0 rgba(80, 80, 80, 0.07); }

.login-page {
  overflow-x: hidden; }

.bg-custom {
  background: url("../../app-assets/images/pages/login/bg-dots.svg") fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.semi-dark-layout:not(.navbar-scrolled) .header-navbar, .light-layout:not(.navbar-scrolled) .header-navbar {
  background-color: transparent !important; }

.semi-dark-layout.navbar-scrolled .header-navbar, .semi-dark-layout.page-scrolled .header-navbar, .light-layout.navbar-scrolled .header-navbar, .light-layout.page-scrolled .header-navbar {
  box-shadow: rgba(25, 42, 70, 0.03) -8px 12px 5px 0px !important;
  padding: 0 !important; }

.card {
  border-radius: 1rem; }

.node-tags-badge-treeview {
  color: #414141 !important; }

.node-tags-badge-treeview.node-selected {
  background-color: #eee !important; }

.card-teamview {
  position: relative;
  margin: 15px 0.5vw; }
  .card-teamview .card-header, .card-teamview .card-footer {
    padding: 10px 1.6vw; }
  .card-teamview .card-footer {
    display: flex; }
  .card-teamview .img-plan {
    max-width: 60px;
    margin: 10px auto; }
  .card-teamview h4 {
    font-size: clamp(14px, 1.8vw, 62px); }
  .card-teamview h5 {
    font-size: clamp(12px, 1vw, 42px); }
  .card-teamview h6 {
    font-size: clamp(8px, 0.7vw, 32px); }
  .card-teamview:not(.last-item):before, .card-teamview:not(.last-item):after {
    display: inline; }
  .card-teamview:before {
    content: "";
    display: none;
    height: 15px;
    width: 1px;
    background-color: #000;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 1px); }
  .card-teamview:after {
    content: "";
    display: none;
    height: 15px;
    width: 50%;
    border: #000 solid 1px;
    border-bottom: transparent;
    position: absolute;
    bottom: calc(-15px * 2);
    left: calc(50% / 2);
    border-radius: 5px 5px 0px 0px; }
  .card-teamview .icon-info {
    display: none;
    margin-bottom: 5px; }
    .card-teamview .icon-info i {
      color: rgba(151, 151, 151, 0.8); }

.level-3 .icon-info {
  display: block; }

.level-3 .card-footer, .level-3 h5 {
  display: none; }

.level-3 h4 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: clamp(12px, 1.2vw, 32px); }
