/* Semi Dark Layout */
/* ---------------- */
body.semi-dark-layout .main-menu {
  background-color : #202020 !important;
}
body.semi-dark-layout .main-menu .shadow-bottom {
  background : -webkit-linear-gradient(top, rgba(32, 32, 32, 0.73) 44%, rgba(32, 32, 32, 0.44) 73%, rgba(32, 32, 32, 0));
  background :         linear-gradient(180deg, rgba(32, 32, 32, 0.73) 44%, rgba(32, 32, 32, 0.44) 73%, rgba(32, 32, 32, 0));
}
body.semi-dark-layout .main-menu .navbar-header {
  z-index : 3;
}
body.semi-dark-layout .main-menu .navbar-header .modern-nav-toggle {
  background-color : transparent !important;
}

body.semi-dark-layout .main-menu-content .navigation-main {
  background-color : transparent;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item i {
  color : #CDCDCD;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item a:after {
  color : #CDCDCD;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content .active .menu-item {
  color : #F8CD56 !important;
}
body.semi-dark-layout .main-menu-content .navigation-main .active .menu-title, body.semi-dark-layout .main-menu-content .navigation-main .active i {
  color : #F8CD56;
}
body.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active {
  background : #282828 !important;
}
body.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content .active {
  background-color : #2D2D2D;
}