/* Semi Dark Layout */
/* ---------------- */
body.semi-dark-layout .main-menu {
  background-color : #14111E !important;
}
body.semi-dark-layout .main-menu .shadow-bottom {
  background : -webkit-linear-gradient(top, rgba(20, 17, 30, 0.73) 44%, rgba(20, 17, 30, 0.44) 73%, rgba(20, 17, 30, 0));
  background :         linear-gradient(180deg, rgba(20, 17, 30, 0.73) 44%, rgba(20, 17, 30, 0.44) 73%, rgba(20, 17, 30, 0));
}
body.semi-dark-layout .main-menu .navbar-header {
  z-index : 3;
}
body.semi-dark-layout .main-menu .navbar-header .modern-nav-toggle {
  background-color : transparent !important;
}

body.semi-dark-layout .main-menu-content .navigation-main {
  background-color : transparent;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item i {
  color : #D1CCE2;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item a:after {
  color : #D1CCE2;
}
body.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content .active .menu-item {
  color : #E9CE41 !important;
}
body.semi-dark-layout .main-menu-content .navigation-main .active .menu-title, body.semi-dark-layout .main-menu-content .navigation-main .active i {
  color : #E9CE41;
}
body.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active {
  background : #1B1728 !important;
}
body.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content .active {
  background-color : #1F1A2E;
}